::ng-deep.ng-select .ng-select-container {
    background-color: #3a3a3a !important;
    border-radius: 10px !important;
    border: none !important;
    min-height: 40px !important;
    color:var(--headings-primary-color);
    height: auto !important;
  }
  .selectAlignment{
    margin-top: 5px;
  }
  