<div class="container">
  <div class="row mt-5 align-items-center">
    <div class="col-sm-12 mt-1 listView">
      <div class="table-responsive">
        <table class="table table-dark table-borderless table-sm align-middle text-center">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="(events | filter: searchInput)?.length; else noData">
              <tr *ngFor="
                  let i = index;
                  let item;
                  of: events | filter: searchInput | sortBy:selectedSort
                    | paginate
                      : {
                          itemsPerPage: 10,
                          currentPage: duePage,
                          totalItems: total
                        }
                ">
                <th scope="row">{{ item?.id }}</th>
                <td>{{ item?.name ? item?.name : "N/A" }}</td>
                <td class="d-flex justify-content-center align-items-center">
                  <button class="actionbtn" (click)="selectedEvent=item;open(addModal,'edit');">
                    <i class="fa fa-edit mlicon"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-template #noData>
              <tr *ngIf="events?.length">
                <td colspan="4" class="text-center white">No Matching Data Available</td>
              </tr>
            </ng-template>
            <tr *ngIf="!events?.length">
              <td class="text-center white" colspan="4">
                No data available
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-end" *ngIf="events?.length">
      <pagination-controls previousLabel="&lsaquo;" nextLabel="&rsaquo;" (pageChange)="duePage = $event">
      </pagination-controls>
    </div>
  </div>
</div>
<!-- modals -->
<ng-container>
  <ng-template #addModal let-modal>
    <div class="modal-body checkoutModal completed">
      <button class="btn-close" id="checkoutClose" aria-label="Close" (click)="proceed()"></button>
      <h5 class="modal-title">Edit Event</h5>
      <form [formGroup]="eventForm" class="form">
        <div class="row mt-4">
          <div class="col-lg-6 mt-3">
            <label for="" class="text-light mb-3">Name</label>
            <input formControlName="name" type="text" placeholder="Name" class="text-light w-100" />
            <div
              *ngIf="eventForm.controls.name.invalid && (eventForm.controls.name.dirty || eventForm.controls.name.touched)">
              <small class="text-danger">Name is required</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button class="btn add-btn" [disabled]="eventForm.invalid" (click)="save(true)">Save</button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
    </div>
  </ng-template>
</ng-container>

