<div class="container">
  <div class="row mt-5 align-items-center">
    <div class="col-sm-12 d-flex justify-content-end align-items-center">
      <button class="addMenuBtn" (click)="open(addModal,'add');">
        <i class="fa fa-plus"></i> Add Event
      </button>
    </div>
    <div class="col-sm-6 d-flex justify-content-start align-items-center">
      <div class="searchField mt-1 w-100">
        <input type="text" [(ngModel)]="searchInput" placeholder="Search Item" class="w-100 white" />
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="col-sm-6 mt-3 mb-3 cstmDropDown">
      <ng-select class="selectAlignment" placeholder="Sort By" [(ngModel)]="selectedSort">
        <ng-option *ngFor="let sort of sorts" [value]="sort.name">{{sort.name}}</ng-option>
      </ng-select>
    </div>
    <div class="col-sm-12 mt-1 listView">
      <div class="table-responsive">
        <table class="table table-dark table-borderless table-sm align-middle text-center">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="(MenuSelected | filter: searchInput)?.length; else noData">
              <tr *ngFor="
                  let i = index;
                  let item;
                  of: MenuSelected | filter: searchInput | sortBy:selectedSort
                    | paginate
                      : {
                          itemsPerPage: 10,
                          currentPage: duePage,
                          totalItems: total
                        }
                ">
                <th scope="row">{{ item?.id }}</th>
                <td>{{ item?.name ? item?.name : "N/A" }}</td>
                <td> <span class="pointer" placement="top" [ngbTooltip]="item?.description"> {{ item?.description ?
                  (item?.description | ellipsis:20) : "N/A" }} </span></td>
                  <td>{{ item?.price ? item?.price : "N/A" }}</td>
                  <td>
                  <div class="toggle d-flex align-items-center w-100 justify-content-center">
                    <input class="checkBox" type="checkbox" [checked]="item?.out_of_stock =='1' ? true: false"
                      [id]='"categoryStock"+i'/><label [for]='"categoryStock"+i'></label>
                  </div>
                </td>
                <td class="d-flex justify-content-center align-items-center">
                  <button class="actionbtn" (click)="open(addModal,'edit');">
                    <i class="fa fa-edit mlicon"></i>
                  </button>
                  <button class="actionbtn" (click)="open(viewModal,'edit');">
                    <i class="fa fa-eye mlicon"></i>
                  </button>
                  <button class="actionbtn">
                    <i class="fa fa-trash mlicon"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-template #noData>
              <tr *ngIf="MenuSelected?.length">
                <td colspan="3" class="text-center white">No Matching Data Available</td>
              </tr>
            </ng-template>
            <tr *ngIf="!MenuSelected?.length">
              <td class="text-center white" colspan="3">
                No data available
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-end" *ngIf="MenuSelected?.length">
      <pagination-controls previousLabel="&lsaquo;" nextLabel="&rsaquo;" (pageChange)="duePage = $event">
      </pagination-controls>
    </div>
  </div>
</div>
<!-- modals -->
<ng-container>
  <ng-template #addModal let-modal>
    <div class="modal-body checkoutModal completed">
      <button class="btn-close" id="checkoutClose" aria-label="Close" (click)="proceed()"></button>
      <h5 class="modal-title">{{state ? 'Edit Mode' : 'Add Mode'}}</h5>
      <form [formGroup]="modeForm" class="form">
        <div class="row mt-4">
          <div class="col-lg-6 mt-3">
            <input formControlName="title" type="text" placeholder="Title" class="text-light w-100" />
            <div
              *ngIf="modeForm.controls.title.invalid && (modeForm.controls.title.dirty || modeForm.controls.title.touched)">
              <small class="text-danger">Title is required</small>
            </div>
          </div>
          <div class="col-lg-6 mt-3">
            <input formControlName="description" type="text" placeholder="Description" class="text-light w-100" />
            <div
              *ngIf="modeForm.controls.description.invalid && (modeForm.controls.description.dirty || modeForm.controls.description.touched)">
              <small class="text-danger">Description is required</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button class="btn add-btn" [disabled]="modeForm.invalid" (click)="save()">Save</button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
    </div>
  </ng-template>
</ng-container>
<!--View modal -->
<ng-container>
  <ng-template #viewModal let-modal>
    <div class="modal-body checkoutModal completed">
      <button class="btn-close" id="checkoutClose" aria-label="Close" (click)="proceed()"></button>
      <div class="container">
        <h5 class="modal-title">Event Details</h5>
        <div class="row mt-5 align-items-center">
          <div class="col-sm-12 d-flex justify-content-end align-items-center">
            <button class="addMenuBtn" (click)="proceed();open(addChild,'add');">
              <i class="fa fa-plus"></i> Add Event Child
            </button>
          </div>
          <div class="col-sm-6 d-flex justify-content-start align-items-center">
            <div class="searchField mt-1 w-100">
              <input type="text" [(ngModel)]="searchInput" placeholder="Search Item" class="w-100 white" />
              <i class="fa fa-search"></i>
            </div>
          </div>
          <div class="col-sm-6 mt-3 mb-3 cstmDropDown">
            <ng-select class="selectAlignment" placeholder="Sort By" [(ngModel)]="selectedSort">
              <ng-option *ngFor="let sort of sorts" [value]="sort.name">{{sort.name}}</ng-option>
            </ng-select>
          </div>
          <div class="col-sm-12 mt-1 listView">
            <div class="table-responsive">
              <table class="table table-dark table-borderless table-sm align-middle text-center">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Event Id</th>
                    <th scope="col">Value</th>
                    <th scope="col">Label</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="(MenuSelected | filter: searchInput)?.length; else noData">
                    <tr *ngFor="
                        let i = index;
                        let item;
                        of: MenuSelected | filter: searchInput | sortBy:selectedSort
                          | paginate
                            : {
                                itemsPerPage: 10,
                                currentPage: duePage,
                                totalItems: total
                              }
                      ">
                      <th scope="row">{{ item?.id }}</th>
                      <td>{{ item?.name ? item?.name : "N/A" }}</td>
                      <td> <span class="pointer" placement="top" [ngbTooltip]="item?.description"> {{ item?.description ?
                        (item?.description | ellipsis:20) : "N/A" }} </span></td>
                        <td>{{ item?.price ? item?.price : "N/A" }}</td>
                        <td>
                        <div class="toggle d-flex align-items-center w-100 justify-content-center">
                          <input class="checkBox" type="checkbox" [checked]="item?.out_of_stock =='1' ? true: false"
                            [id]='"categoryStock"+i'/><label [for]='"categoryStock"+i'></label>
                        </div>
                      </td>
                      <td class="d-flex justify-content-center align-items-center">
                        <button class="actionbtn" (click)="proceed();open(addChild,'edit');">
                          <i class="fa fa-edit mlicon"></i>
                        </button>
                        <button class="actionbtn">
                          <i class="fa fa-trash mlicon"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #noData>
                    <tr *ngIf="MenuSelected?.length">
                      <td colspan="5" class="text-center white">No Matching Data Available</td>
                    </tr>
                  </ng-template>
                  <tr *ngIf="!MenuSelected?.length">
                    <td class="text-center white" colspan="5">
                      No data available
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-12 d-flex justify-content-end" *ngIf="MenuSelected?.length">
            <pagination-controls previousLabel="&lsaquo;" nextLabel="&rsaquo;" (pageChange)="duePage = $event">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
<!-- Add Child Modal -->
<ng-container>
  <ng-template #addChild let-modal>
    <div class="modal-body checkoutModal completed">
      <button class="btn-close" id="checkoutClose" aria-label="Close" (click)="proceed()"></button>
      <h5 class="modal-title">{{state ? 'Edit Mode' : 'Add Mode'}}</h5>
      <form [formGroup]="modeForm" class="form">
        <div class="row mt-4">
          <div class="col-lg-6 mt-3">
            <input formControlName="title" type="text" placeholder="Title" class="text-light w-100" />
            <div
              *ngIf="modeForm.controls.title.invalid && (modeForm.controls.title.dirty || modeForm.controls.title.touched)">
              <small class="text-danger">Title is required</small>
            </div>
          </div>
          <div class="col-lg-6 mt-3">
            <input formControlName="description" type="text" placeholder="Description" class="text-light w-100" />
            <div
              *ngIf="modeForm.controls.description.invalid && (modeForm.controls.description.dirty || modeForm.controls.description.touched)">
              <small class="text-danger">Description is required</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button class="btn add-btn" [disabled]="modeForm.invalid" (click)="save()">Save</button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
    </div>
  </ng-template>
</ng-container>
