<div class="container">
  <div class="row mt-5 align-items-center">
    <div class="col-sm-12 d-flex justify-content-end align-items-center">
      <button class="addMenuBtn" (click)="open(addModal, 'add')">
        <i class="fa fa-plus"></i> Add FAQ
      </button>
    </div>
    <div class="col-sm-6 d-flex justify-content-start align-items-center">
      <div class="searchField mt-1 w-100">
        <input
          type="text"
          [(ngModel)]="searchInput"
          placeholder="Search Item"
          class="w-100 white"
        />
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="col-sm-12 mt-1 listView">
      <div class="table-responsive">
        <table
          class="table table-dark table-borderless table-sm align-middle text-center"
        >
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Heading</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <ng-container
              *ngIf="(faqs | filter : searchInput)?.length; else noData"
            >
              <tr
                cdkDrag
                cdkDragLockAxis="y"
                *ngFor="
                  let i = index;
                  let item;
                  of: faqs
                    | filter : searchInput
                    | paginate
                      : {
                          itemsPerPage: 10,
                          currentPage: duePage,
                          totalItems: total
                        }
                "
              >
                <th
                  cdkDragHandle
                  class="handleCol"
                  scope="row"
                  (mousedown)="selectedFaq = item"
                  (mouseup)="selectedFaq = item"
                >
                  <span class="d-flex align-items-center">
                    <span placement="top" ngbTooltip="Drag to change position">
                      <svg
                        class="ps-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 320 512"
                      >
                        <path
                          d="M40 352l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zm192 0l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 320c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 192l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 160c-22.1 0-40-17.9-40-40L0 72C0 49.9 17.9 32 40 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40z"
                          fill="#FFFFFF"
                        />
                      </svg>
                    </span>
                    <span class="mt-1 ps-5">
                      {{ item?.id }}
                    </span>
                  </span>
                </th>
                <td>{{ item?.heading ? item?.heading : "N/A" }}</td>
                <td>
                  <div
                    class="toggle d-flex align-items-center w-100 justify-content-center"
                  >
                    <input
                      class="checkBox"
                      type="checkbox"
                      (change)="stateItem(item, $event)"
                      [checked]="item?.active_status == '1' ? true : false"
                      [id]="'categoryStock' + i"
                    /><label [for]="'categoryStock' + i"></label>
                  </div>
                </td>
                <td class="d-flex justify-content-center align-items-center">
                  <button
                    class="actionbtn"
                    placement="top"
                    ngbTooltip="Edit Faq"
                    (click)="selectedFaq = item; open(addModal, 'edit')"
                  >
                    <i class="fa fa-edit mlicon"></i>
                  </button>
                  <button class="actionbtn" (click)="delete(item?.id)">
                    <i class="fa fa-trash mlicon"></i>
                  </button>
                </td>
                <div
                  *cdkDragPreview
                  matchSize="true"
                  class="container dragdrop-placeholder"
                >
                  {{ item?.heading }}
                </div>
              </tr>
            </ng-container>
            <ng-template #noData>
              <tr *ngIf="faqs?.length">
                <td colspan="4" class="text-center white">
                  No Matching Data Available
                </td>
              </tr>
            </ng-template>
            <tr *ngIf="!faqs?.length">
              <td class="text-center white" colspan="4">No data available</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-between" *ngIf="faqs?.length">
      <pagination-controls
        previousLabel="&lsaquo;"
        nextLabel="&rsaquo;"
        (pageChange)="duePage = $event"
      >
      </pagination-controls>
    </div>
  </div>
</div>
<!-- Edit User -->
<ng-container>
  <ng-template #addModal let-modal>
    <div class="modal-body checkoutModal completed">
      <button
        class="btn-close"
        id="checkoutClose"
        aria-label="Close"
        (click)="proceed()"
      ></button>
      <h5 class="modal-title">Update User</h5>
      <form [formGroup]="faqForm" class="form">
        <div class="row mt-4">
          <div class="col-lg-12 mt-3">
            <label for="" class="text-light mb-3">heading</label>
            <textarea
              formControlName="heading"
              type="text"
              placeholder="Heading"
              class="text-light w-100"
            ></textarea>
            <div
              *ngIf="
                faqForm.controls.heading.invalid &&
                (faqForm.controls.heading.dirty ||
                  faqForm.controls.heading.touched)
              "
            >
              <small class="text-danger">Heading is required</small>
            </div>
          </div>
          <div class="col-lg-12 mt-3">
            <label for="" class="text-light mb-3">Paragraph</label>
            <ckeditor [editor]="Editor" formControlName="paragraph"></ckeditor>
            <div
              *ngIf="
                faqForm.controls.paragraph.invalid &&
                (faqForm.controls.paragraph.dirty ||
                  faqForm.controls.paragraph.touched)
              "
            >
              <small class="text-danger">Paragraph is required</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button
        class="btn add-btn"
        [disabled]="faqForm.invalid"
        (click)="save(true)"
      >
        Save
      </button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
    </div>
  </ng-template>
</ng-container>
