<div class="container">
  <div class="row mt-5 align-items-center">
    <div class="col-sm-12 d-flex justify-content-end align-items-center">
      <button
        class="addMenuBtn"
        (click)="restuarantForm.reset(); open(add, 'add')"
      >
        <i class="fa fa-plus"></i> Add Restaurant
      </button>
    </div>
    <div class="col-sm-12 mt-1 listView">
      <div class="table-responsive">
        <table
          class="table table-dark table-borderless table-sm align-middle text-center"
        >
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Website</th>
              <th scope="col">Sponsored</th>
              <th scope="col">Voucher</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngIf="(Restaurants | filter : searchInput)?.length; else noData"
            >
              <tr
                *ngFor="
                  let i = index;
                  let item;
                  of: Restaurants
                    | filter : searchInput
                    | sortBy : selectedSort
                    | paginate
                      : {
                          itemsPerPage: 10,
                          currentPage: duePage,
                          totalItems: total
                        }
                "
              >
                <th scope="row">{{ item?.id }}</th>
                <td>{{ item?.name || "N/A" }}</td>
                <td>{{ item?.phone || "N/A" }}</td>
                <td>{{ item?.website || "N/A" }}</td>
                <td>{{ item?.sponsored || "N/A" }}</td>
                <td>{{ item?.voucher || "N/A" }}</td>
                <td>
                  <div
                    class="toggle d-flex align-items-center w-100 justify-content-center"
                  >
                    <input
                      class="checkBox"
                      type="checkbox"
                      [checked]="item?.active_status == '1' ? true : false"
                      [id]="'categoryStock' + i"
                      (change)="stateItem(item, $event)"
                    /><label [for]="'categoryStock' + i"></label>
                  </div>
                </td>
                <td class="d-flex justify-content-center align-items-center">
                  <button
                    class="actionbtn"
                    (click)="selectedRestaurant = item; open(add, 'edit')"
                  >
                    <i class="fa fa-edit mlicon"></i>
                  </button>
                  <button class="actionbtn" (click)="delete(item?.id)">
                    <i class="fa fa-trash mlicon"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-template #noData>
              <tr *ngIf="Restaurants?.length">
                <td colspan="8" class="text-center white">
                  No Matching Data Available
                </td>
              </tr>
            </ng-template>
            <tr *ngIf="!Restaurants?.length">
              <td class="text-center white" colspan="8">No data available</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="col-sm-12 d-flex justify-content-end"
      *ngIf="Restaurants?.length"
    >
      <pagination-controls
        previousLabel="&lsaquo;"
        nextLabel="&rsaquo;"
        (pageChange)="duePage = $event"
      >
      </pagination-controls>
    </div>
  </div>
</div>
<!-- modals -->
<ng-container>
  <ng-template #add let-modal>
    <div class="modal-body checkoutModal completed">
      <button
        class="btn-close"
        id="checkoutClose"
        aria-label="Close"
        (click)="proceed()"
      ></button>
      <h5 class="modal-title">
        {{ state ? "Edit Restaurant" : "Add PRestaurant" }}
      </h5>
      <form [formGroup]="restuarantForm" class="form">
        <div class="row mt-4">
          <div class="col-lg-6 mt-3">
            <label for="" class="text-light mb-3">Sponsored </label>
            <input
              formControlName="sponsored"
              type="text"
              placeholder="Sponsored"
              class="text-light w-100"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="" class="text-light mb-3">Voucher</label>
            <input
              formControlName="voucher"
              type="text"
              placeholder="Voucher"
              class="text-light w-100"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="" class="text-light mb-3">Name</label>
            <input
              formControlName="name"
              type="text"
              placeholder="Name"
              class="text-light w-100"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="" class="text-light mb-3">Description</label>
            <input
              formControlName="desc"
              type="text"
              placeholder="Description"
              class="text-light w-100"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="" class="text-light mb-3">Phone</label>
            <input
              formControlName="phone"
              (input)="numberKeyup($event)"
              type="text"
              placeholder="Phone"
              class="text-light w-100"
            />
          </div>
          <div class="col-lg-6 mt-3">
            <label for="" class="text-light mb-3">Website</label>
            <input
              formControlName="website"
              type="text"
              placeholder="Website"
              class="text-light w-100"
            />
          </div>
          <div class="col-lg-12 mt-3 d-flex w-100 flex-column">
            <label for="" class="text-light mb-3">Location</label>
            <input
            formControlName="location"
              ngx-google-places-autocomplete
              (onAddressChange)="onPlaceSelected($event)"
              placeholder="Enter Address"
            />
            <agm-map
              [latitude]="currentLat"
              [longitude]="currentLng"
              [zoom]="13"
              [disableDefaultUI]="false"
              [zoomControl]="false"
            >
              <agm-marker
                [latitude]="currentLat"
                [longitude]="currentLng"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"
              >
              </agm-marker>
              <agm-circle
                [latitude]="currentLat + 0.3"
                [longitude]="currentLng"
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true"
              >
              </agm-circle>
            </agm-map>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button
        class="btn add-btn"
        [disabled]="restuarantForm.invalid"
        (click)="save(true)"
      >
        Save
      </button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- modals -->
<ng-container>
  <ng-template #Location let-modal>
    <div class="modal-body checkoutModal completed">
      <button
        class="btn-close"
        id="checkoutClose"
        aria-label="Close"
        (click)="proceed()"
      ></button>
      <h5 class="modal-title">
        {{ state ? "Edit Restaurant" : "Add PRestaurant" }}
      </h5>
      <div class="row mt-4">
        <div class="col-lg-12 mt-3">
          <label for="" class="text-light mb-3">Address</label>
          <input
            #placesRef
            class="form-control"
            ngx-google-places-autocomplete
            (onAddressChange)="onPlaceSelected($event)"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-start">
      <button
        class="btn add-btn"
        [disabled]="restuarantForm.invalid"
        (click)="save(true)"
      >
        Save
      </button>
      <button class="btn cancel-btn" aria-label="Close" (click)="proceed()">
        Cancel
      </button>
    </div>
  </ng-template>
</ng-container>
