<div [ngClass]="{'cstmContainer': login}">
  <button (click)="expand()" class="navExpandBtn" [ngClass]="{'expand':expanded}">
   <i class="fa" [ngClass]="{'expand':expanded}"></i>
  </button>
    <div [ngClass]="{'cstmRow h-100': login}">
      <div class="cstmCol2 h-100" [ngClass]="{'expand':expanded}">
        <app-sidebar></app-sidebar>
      </div>
      <div [ngClass]="{'cstmCol10 h-100': login, 'cstmCol12' : !sidebarEnable, 'expand':expanded}" class="mainBody" >
        <app-header ></app-header>
        <main  [style.height]="login ? windowHeight-70+'px' : windowHeight+'px'" style="overflow-y: auto">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
  <!-- <app-footer ></app-footer> -->
